torch==2.1.0
torchvision==0.16.0
numpy
scipy
numba
pandas
opencv-python==4.7.0.68
ipykernel
matplotlib
av==10.0
k3d
pyyaml
tqdm
zarr==2.16
numcodecs
hydra-core
wandb
dill
einops
diffusers
scikit-video
gym
Cython
accelerate
boto3
aiohttp
aiofiles
ray[default]==2.8.0
threadpoolctl
v4l2py
ur-rtde
# spnav
atomics
pynput
fastcrc
imagecodecs
robomimic
PyExifTool
opencv-contrib-python
scikit-fda
timm